---
import Layout from "../layouts/Layout.astro";


const socialdark = ["/src/assets/social/dark/x.svg", "/src/assets/social/dark/mt.svg", "/src/assets/social/dark/lin.svg", "/src/assets/social/dark/ig.svg", "/src/assets/social/dark/tg.svg", "/src/assets/social/dark/yt.svg"];
const sociallight = ["/src/assets/social/light/x.svg", "/src/assets/social/light/mt.svg", "/src/assets/social/light/lin.svg", "/src/assets/social/light/ig.svg", "/src/assets/social/light/tg.svg", "/src/assets/social/light/yt.svg"];
---

<Layout title="Alpha template | by Shapeshifter" desc="Single-screen personal portfolio/cv template">
  <div
    class="h-full w-full bg-white dark:bg-black flex flex-col justify-start items-center gap-8 px-4"
  >
    <!-- HEADER -->
    <div
      class="w-full flex flex-col lg:flex-row gap-8 md:gap-0 lg:justify-between lg:items-center bg-gradient-to-tr from-[#0052D4] via-[#4364F7] to-[#6FB1FC] rounded-[24px] p-4 md:p-16 text-black dark:text-white"
    >
      <img
        class="block md:hidden"
        width="128"
        height="128"
        src="/src/assets/pic.png"
        alt="A description of my img."
      />
      <div class="space-y-4 md:space-y-4">
        <h1 class="text-5xl lg:text-8xl text-white">Jensen Lakes</h1>
        <p
          class="w-fit uppercase px-4 py-2 border border-white text-white rounded-full text-base md:text-[24px]"
        >
          digital director
        </p>
      </div>
      <img
        class="hidden md:block"
        width="256"
        height="256"
        src="/src/assets/pic.png"
        alt="A description of my img."
      />
    </div>

    <!-- ABOUT -->
    <div
      class="w-full p-4 md:p-16 border border-black dark:border-white rounded-[24px] text-black dark:text-white"
    >
      <p class="m-auto text-[24px] md:text-[32px] w-full">
        Hi, I'm Jensen. I have over 10 years of experience as a digital director
        with a multidisciplinary background. My main goal is to create
        meaningful products that cause positive disruption.
      </p>
    </div>

    <!-- SELECTED -->
    <!-- Grid -->
    <div
      class="w-full h-full space-y-4 xl:space-y-0 xl:grid grid-cols-3 gap-4 text-[24px]"
    >
      <!-- Card -->
      <div
        class="w-full h-full flex flex-col justify-center items-stretch gap-4 md:gap-8 p-4 md:p-8 border border-black dark:border-white rounded-[24px] text-black dark:text-white"
      >
        <div class="w-full h-full md:flex justify-between group transition-all">
          <p
            class="text-black dark:text-white w-fit uppercase px-4 py-1 border border-black dark:border-white rounded-full cursor-pointer"
          >
            featured work
          </p>
        </div>
        <div class="w-full h-full flex flex-col items-center justify-center">
          <div class="w-full md:flex justify-between text-[24px] leading-tight">
            <p class="w-full text-[#555]">Design Production</p>
            <p class="w-fit text-[#555] hidden lg:inline">2023</p>
          </div>
          <div class="w-full md:flex justify-between text-[24px] leading-tight">
            <p class="w-full text-[#555]">Design Production</p>
            <p class="w-fit text-[#555] hidden lg:inline">2023</p>
          </div>
          <div class="w-full md:flex justify-between text-[24px] leading-tight">
            <p class="w-full text-[#555]">Design Production</p>
            <p class="w-fit text-[#555] hidden lg:inline">2023</p>
          </div>
        </div>
      </div>

      <!-- Card -->
      <div
        class="w-full h-full flex flex-col justify-center items-stretch gap-4 md:gap-8 p-4 md:p-8 border border-black dark:border-white rounded-[24px] text-black dark:text-white"
      >
        <div class="w-full h-full md:flex justify-between group transition-all">
          <p
            class="text-black dark:text-white w-fit uppercase px-4 py-1 border border-black dark:border-white rounded-full cursor-pointer"
          >
            projects
          </p>
        </div>
        <div class="w-full h-full flex flex-col items-center justify-center">
          <div class="w-full md:flex justify-between text-[24px] leading-tight">
            <p class="w-full text-[#555]">Design Production</p>
            <p class="w-fit text-[#555] hidden lg:inline">2023</p>
          </div>
          <div class="w-full md:flex justify-between text-[24px] leading-tight">
            <p class="w-full text-[#555]">Design Production</p>
            <p class="w-fit text-[#555] hidden lg:inline">2023</p>
          </div>
          <div class="w-full md:flex justify-between text-[24px] leading-tight">
            <p class="w-full text-[#555]">Design Production</p>
            <p class="w-fit text-[#555] hidden lg:inline">2023</p>
          </div>
        </div>
      </div>

      <!-- Card -->
      <div
        class="w-full h-full flex flex-col justify-center items-stretch gap-4 md:gap-8 p-4 md:p-8 border border-black dark:border-white rounded-[24px] text-black dark:text-white"
      >
        <div class="w-full h-full md:flex justify-between group transition-all">
          <p
            class="text-black dark:text-white w-fit uppercase px-4 py-1 border border-black dark:border-white rounded-full cursor-pointer"
          >
            recogitions
          </p>
        </div>
        <div class="w-full h-full flex flex-col items-center justify-center">
          <div class="w-full md:flex justify-between text-[24px] leading-tight">
            <p class="w-full text-[#555]">Design Production</p>
            <p class="w-fit text-[#555] hidden lg:inline">2023</p>
          </div>
          <div class="w-full md:flex justify-between text-[24px] leading-tight">
            <p class="w-full text-[#555]">Design Production</p>
            <p class="w-fit text-[#555] hidden lg:inline">2023</p>
          </div>
          <div class="w-full md:flex justify-between text-[24px] leading-tight">
            <p class="w-full text-[#555]">Design Production</p>
            <p class="w-fit text-[#555] hidden lg:inline">2023</p>
          </div>
        </div>
      </div>
    </div>
    <!-- FOOTER -->
    <div
      class="w-full h-full lg:flex justify-between space-y-4 lg:space-y-0 gap-4 text-[24px]"
    >
      <button
        class="p-4 text-white bg-gradient-to-tr from-[#0052D4] via-[#4364F7] to-[#6FB1FC] w-full text-start xl:text-center rounded-[24px]"
        >⚡︎ Open for remote/async offers</button
      >
      <button
        class="p-4 text-white dark:text-black bg-black dark:bg-white w-full text-start xl:text-center rounded-[24px]"
        >✉︎ jensen@jensenlakes.com</button
      >
      <div
        class="w-full h-full p-4 text-black dark:text-white border border-black dark:border-white rounded-[24px]"
      >
        <div
          class="w-full h-full flex dark:hidden justify-center items-center gap-2 md:gap-4"
        >
          {
            sociallight.map((i) => (
              <img
                width="32"
                height="32"
                src={i}
                alt="A description of my img."
              />
            ))
          }
          </div>
          <div
          class="w-full h-full hidden dark:flex justify-center items-center gap-2 md:gap-4"
        >
          {
            socialdark.map((i) => (
              <img
                width="32"
                height="32"
                src={i}
                alt="A description of my img."
              />
            ))
          }
          </div>
         
        </div>
      </div>
    </div>
  </div>
</Layout>