---
import { i } from "../info";
---

<div
  class="w-full p-4 md:p-16 border border-black dark:border-white rounded-[24px] text-black dark:text-white"
>
  <p class="m-auto text-[24px] md:text-[32px] w-full">
    {i.description}
  </p>
</div>
